@import "constants/constans.scss";

.topSellersContainer {
    display: flex;
    flex-direction: column;
    gap: toRem(24);
    padding-bottom: toRem(24);
    border-bottom: toRem(1) solid $grey_pale;
}

.topWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sellersList {
    @include flexRow(center, space-between);
    gap: toRem(24);
}

.sellersItem {
    @include flexColumn(center, center);
    width: toRem(168);
    padding: toRem(16);
    border-radius: toRem(16);
    background: $grey_light;
    line-height: 137.5%; /* 22/16 */
    font-size: toRem(16);
    color: $dark;
    & > p {
        font-weight: 700;
    }
}

.sellerImage {
    position: relative;
    display: inline-block;
    width: toRem(80);
    height: toRem(80);
    margin-bottom: toRem(30);
    border-radius: 50%;

    & img {
        width: fit-content;
        border-radius: 50%;
    }

}

.seller_place {
    @include flexRow(center, center);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(50%);
    width: toRem(36);
    height: toRem(36);
    padding: toRem(10);
    border-radius: 50%;
    border: toRem(2) solid $white;
    background: #F0EFF0;
    font-weight: 400;
}

.seller_place.first {
    background-color: $gold;
}

.seller_achive {
    @include flexRow(center, center);
    column-gap: toRem(4);
    margin-top: toRem(12);
    color: $mainColor;
    font-weight: 400;
}
.seller_achive.first > svg {
    color: $gold;
}