@import "constants/constans.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: toRem(24);
    padding: toRem(24);
    border-radius: toRem(24);
    border: toRem(1) solid $grey_pale;
    background: $white;
}
